<mat-card class="card mat-elevation-z3">
    <div class="card-body">
        <h2>
            Lista de Itens
        </h2>
    </div>
    <div class="card-bottom">
        <h2>
            Cadastrar Item
        </h2>
        <div>
            <form>
                <mat-form-field>
                    <input matInput placeholder="ID" disabled="disabled" name="id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nome" [(ngModel)]="item.name" name="name">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="createItem()">
                Cadastrar
            </button>
        </div>
    </div>
</mat-card>
